{{define "title"}}About{{end}}

{{define "main"}}
<div>
    <p>IM gay IM gay IM gay IM gay IM gay IM gay IM gay IM gay IM gay IM gay
        IM gay IM gay IM gay IM gay IM gay IM gay IM gay IM gay IM gay IM gay
        IM gay IM gay IM gay IM gay IM gay IM gay IM gay IM gay IM gay IM gay
        IM gay IM gay IM gay IM gay IM gay IM gay IM gay IM gay IM gay IM gay
    </p>
</div>
{{end}}